@tailwind base;

* {
	scroll-behavior: smooth;
	scroll-margin-block: 80px;
	list-style: none;
}

body {
	background: #242424;
	font-family: var('--poppins-body');
}

h1,h2,h3,h4,h5{
	font-family: var('----montserrat-title');
}

::-webkit-scrollbar {
	width: 12px;
	transition: all 300ms ease;
}

/* Track */
::-webkit-scrollbar-track {
	background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #242424;
	border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #0d0d0ddd;
	
}

@tailwind components;

@tailwind utilities;
